:host {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 15px 20px;
  background: #4370ff;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
  color: white;
}

.cu-table-cell-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cu-table-cell-label {
  cursor: pointer;
}

.cu-table-cell-label:hover {
  opacity: .7;
}

.cu-table-cell-sort-icon {
  height: 11px;
  transform: rotateZ(90deg);
  transition: 150ms transform;
  margin-left: 10px;
  display: inline-block;
  opacity: .4;
}

.cu-table-cell-sort-icon.rotated {
  transform: rotateZ(90deg) rotateY(180deg);
}

.cu-table-cell-drag-icon {
  height: 14px;
  opacity: .4;
  cursor: grab;
}
