:host {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 15px 20px;
  background: #4370ff;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
  color: white;
  overflow: hidden;
}

.cu-table-cell-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cu-table-cell-label {
  cursor: pointer;

  &:not(.disabled):hover {
    opacity: .7;
  }

  &.disabled {
    cursor: default;
  }
}

.cu-table-cell-sort-icon {
  height: 11px;
  transform: rotateZ(90deg);
  transition: 150ms transform;
  margin-left: 10px;
  display: inline-block;
  opacity: .4;
}

.cu-table-cell-sort-icon.rotated {
  transform: rotateZ(90deg) rotateY(180deg);
}

.cu-table-cell-drag-icon {
  height: 14px;
  opacity: .4;
  cursor: grab;
}

.resize-bar {
  position: absolute;
  height: 100%;
  width: 8px;
  top: 0;
  right: -2px;
  z-index: 100;
}

.resize-bar:hover, .resize-bar:active {
  cursor: col-resize;
}

.resize-bar:hover .resize-bar-line, .resize-bar:active .resize-bar-line {
  width: 2px;
  background: #225bff;
  box-shadow: 0 0 15px rgba(0,0,0,.85);
}

.resize-bar-line {
  position: absolute;
  width: 1px;
  left: 3px;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
  transition: 150ms background, 150ms box-shadow;
  z-index: 100;
}
