/** ng-deep required to apply styles to a placeholder */
::ng-deep .cu-table-cell {
  &:nth-child(1) {
    flex: 2;
  }
  &:nth-child(2) {
    flex: 3;
  }
  &:nth-child(3) {
    flex: 1;
  }
  &:nth-child(4) {
    flex: 1;
  }
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.artist-name {
  position: relative;
  z-index: 1;
}

.artist-image {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 15px;
  margin-left: 20px;

  img {
    height: 100%;
  }
}

.logo {
  text-align: center;
  margin-bottom: 50px;

  img {
    height: 60px;
    margin-bottom: 20px;
  }

  h1 {
    margin-bottom: 0;
  }

  p {
    opacity: .5;
  }
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genres {
  margin-bottom: -8px;
  > app-genre {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  cursor: grabbing;
}

.cdk-drag-placeholder {
  opacity: 0;
  cursor: grabbing;
}

.handle {
  display: inline-block;
  margin-right: 8px;
  opacity: .3;

  &:hover, &:active {
    opacity: 1;
    cursor: grab;
  }
}
