<div class="logo">
  <img src="assets/logo-symbol-color.svg"
       alt="Hello"/>
  <h1>Mini Project</h1>
  <p>by Filip Winiarski</p>
</div>
<h2>#1 Basic Table</h2>
<cu-table [columns]="columns">
  <cu-table-head>
    <cu-table-row>
      <cu-table-cell head>Name</cu-table-cell>
      <cu-table-cell head>Logo</cu-table-cell>
      <cu-table-cell head>Trips</cu-table-cell>
    </cu-table-row>
  </cu-table-head>
  <cu-table-body [data]="passengers"
                 [loading]="!passengers"
                 cdkDropList
                 cdkDropListOrientation="vertical"
                 cdkDropListLockAxis="y"
                 (cdkDropListDropped)="drop($event, passengers)">
    <cu-table-row *cuTableData="let item of passengers" cdkDrag>
      <cu-table-cell>
        <img src="assets/drag_indicator_black_24dp.svg"
             alt="Hello"
             class="handle"
             cdkDragHandle/>
        {{ item.name }}
      </cu-table-cell>
      <cu-table-cell>
        <img height="16" [src]="item.logo"/>
      </cu-table-cell>
      <cu-table-cell>{{ item.trips }}</cu-table-cell>
    </cu-table-row>
  </cu-table-body>
</cu-table>
<cu-table-pagination [total]="total"
                     (sizeChange)="onSizeChange($event)"
                     (pageChange)="onPageChange($event)">
</cu-table-pagination>
