<div class="logo">
  <img src="assets/logo-symbol-color.svg"/>
  <h1>Mini Project</h1>
  <p>by Filip Winiarski</p>
</div>
<h2>#1 Basic Table</h2>
<cu-table [columns]="columns">
  <cu-table-head>
    <cu-table-row>
      <cu-table-cell head>Id</cu-table-cell>
      <cu-table-cell head>First Name</cu-table-cell>
      <cu-table-cell head>Last Name</cu-table-cell>
      <cu-table-cell head>Country</cu-table-cell>
      <cu-table-cell head>Long Field</cu-table-cell>
    </cu-table-row>
  </cu-table-head>
  <cu-table-body [data]="data" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)">
    <cu-table-row *cuTableData="let item of data" cdkDrag>
      <cu-table-cell>
        <img src="assets/drag_indicator_black_24dp.svg" class="handle" cdkDragHandle/>
        {{ item.id }}
      </cu-table-cell>
      <cu-table-cell>{{ item.firstName }}</cu-table-cell>
      <cu-table-cell>{{ item.lastName }}</cu-table-cell>
      <cu-table-cell>{{ item.country }}</cu-table-cell>
      <cu-table-cell>{{ item.longField }}</cu-table-cell>
    </cu-table-row>
  </cu-table-body>
</cu-table>
