:host {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 15px 20px;
  user-select: text;
  font-size: 14px;
  overflow: hidden;
}

.cu-table-cell-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

