<div>
  <span class="cu-table-pagination-label">Total items </span> {{ total }}
</div>
<div class="cu-table-pagination-controls">
  <div>
    <select [formControl]="sizeControl">
      <option *ngFor="let option of sizeOptions" [value]="option">{{option}}</option>
    </select>
  </div>
  <div class="cu-table-pagination-range" *ngIf="itemsRange as range">
    <span class="cu-table-pagination-label">Showing items</span> {{ range }}
  </div>
  <div class="cu-table-pagination-pages" *ngIf="pageRange?.length">
    <span *ngFor="let element of pageRange"
          [class.active]="element === page + 1"
          (click)="changePage(element - 1)">
      {{ element }}
    </span>
  </div>
</div>
