/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Poppins', -apple-system, sans-serif;
  box-sizing: border-box
}

body {
  background: #e6e7ee;
  padding: 50px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  cursor: grabbing;
}

.cdk-drag-placeholder {
  opacity: 0;
  cursor: grabbing;
}
