/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Poppins', -apple-system, sans-serif;
  box-sizing: border-box
}

body {
  background: #e6e7ee;
  padding: 50px;
}
